<div class="my-1 row">
    <a class="btn btn-primary offset-2 col-2" href="{{ path('app_admin_stuff_index') }}"><i class="fas fa-list-ul"></i> Equipement</a>
    <a class="btn btn-primary col-2" href="{{ path('app_admin_stuff_index_properties') }}"><i class="fas fa-list-ul"></i> Propriétés</a>
</div>
<div class="my-1 row">
    <a class="btn btn-primary offset-2 col-2" href="{{ path('app_admin_stuff_create') }}"><i class="fas fa-plus-square"></i> Equipement</a>
    <a class="btn btn-primary col-2" href="{{ path('app_admin_stuff_stufftype_create') }}"><i class="fas fa-plus-square"></i> Types</a>
    <a class="btn btn-primary col-2" href="{{ path('app_admin_stuff_stufffamily_create') }}"><i class="fas fa-plus-square"></i> Familles</a>
    <a class="btn btn-primary col-2" href="{{ path('app_admin_stuff_stuffparticularity_create') }}"><i class="fas fa-plus-square"></i> Particularités</a>
</div>