{% extends 'base.html.twig' %}

{% set security_token = csrf_token('HOMELAND_TOKEN') %}

{% block title %}{{ parent() }} - Equipements{% endblock %}

{% block body %}
    <h1> Equipements </h1>

    {% include('inc/vertical-line.html.twig') %}
    {% include('admin/stuff/_menu.html.twig') %}
    {% include('inc/vertical-line.html.twig') %}

    <h4 class="text-center">Liste des équipements</h4>

    <div class="table-responsive table-hover">
        <table class="table table-bordered table-striped">

            <thead>
            <td>Nom</td>
            <td>Description</td>
            <td></td>
            <td></td>
            </thead>

            <tbody>
            {% for stuff in stuffs %}
                <tr>
                    <td>{{ stuff.name }}</td>
                    <td class="col-7">{{ stuff.description }}</td>
                    <td class="col-1">
                        <a href="{{ path('app_admin_stuff_update', {id:stuff.id, token:security_token}) }}"
                           class="btn btn-warning btn-block"><i class="fas fa-recycle"></i></a></td>
                    <td class="col-1">
                        <a href="{{ path('app_admin_stuff_delete', {id:stuff.id, token:security_token}) }}"
                           class="btn btn-danger btn-block"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if stuffs == null %}
            <p>Pas d'équipement à afficher !</p>
        {% endif %}
    </div>

{% endblock %}